################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/TarefasBackEnd/obj/Debug/net8.0
*.json
/TarefasBackEnd/obj
